$utilities: map-merge(
  $utilities,
  (
    "position": (
      responsive: true,
      property: position,
      values: static relative absolute fixed sticky,
    ),
    "translate-middle": (
      responsive: true,
      property: transform,
      class: translate-middle,
      values: (
        null: translate(-50%, -50%),
        x: translateX(-50%),
        y: translateY(-50%),
      ),
    ),
    "width": (
      responsive: true,
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);

// bg
.bg-cover {
  background-size: cover;
}
.bg-contain {
  background-size: contain;
}
.bg-bottom {
  background-position: bottom;
}
// image
.object-fit-cover {
  object-fit: cover;
}
// height
.height-s {
  height: 152px;
}
.height-m {
  height: 360px;
}
// list-style-type
.list-disc {
  list-style-type: disc;
}
// hover
.hover:hover {
  opacity: 0.6;
}
