// position
.position-lg-absolute {
  @include media-breakpoint-up(lg) {
    position: absolute;
  }
}
.position-md-absolute {
  @include media-breakpoint-up(md) {
    position: absolute;
  }
}
// transform
.translate-lg-middle {
  @include media-breakpoint-up(lg) {
    transform: translate(-50%, -50%);
  }
}
.translate-md-middle-x {
  @include media-breakpoint-up(md) {
    transform: translateX(-50%);
  }
}

// width
.w-lg-50 {
  @include media-breakpoint-up(lg) {
    width: 50% !important;
  }
}
.w-lg-100 {
  @include media-breakpoint-up(lg) {
    width: 100% !important;
  }
}
// bg
.bg-cover {
  background-size: cover;
}
.bg-contain {
  background-size: contain;
}
.bg-bottom {
  background-position: bottom;
}
// image
.object-fit-cover {
  object-fit: cover;
}
// height
.height-s {
  height: 152px;
}
.height-m {
  height: 360px;
}
// list-style-type
.list-disc {
  list-style-type: disc;
}
// hover
.hover:hover {
  opacity: 0.6;
}
