.logo {
  width: 96px;
  height: 31px;
}

// header
.logo-brown {
  background-image: url(../images/DOYOGA-logo@2x.png);
}

//footer
.logo-white {
  background-image: url(../images/DOYOGA@2x.png);
}
//content
.banner {
  height: 582px;
  background-image: url(../images/photo-1612157777902-5382bc6e864b.jpeg);
}

//images size
.img-m {
  height: 628px;
}
.img-s {
  height: 150px;
}
