// card-img-size
.card-img-xs {
  width: 96px;
  height: 96px;
}
.card-img-s {
  height: 196px;
}
.card-img-m {
  height: 207px;
}
.card-img-l {
  height: 250px;
}
.card-img-xl {
  height: 341px;
}
.card-img-2xl {
  height: 350px;
  @include media-breakpoint-down(lg) {
    height: 216px;
  }
}
.card-img-3xl {
  height: 418px;
  @include media-breakpoint-down(md) {
    height: 165px;
  }
}
.card-img-4xl {
  height: 420px;
  @include media-breakpoint-between(md, lg) {
    height: 252px;
  }
}

.card-disabled {
  opacity: 0.7;
}
